@keyframes anima{
    from{background-color: blue;}
    to{background-color: green;}   
}

#anim17 {
    height: 20vw;
    width: 20vh;
    background-color: black;
    animation-name:anima;
    animation-duration: 5s;
}

@keyframes animb {
    0%{background-color: blue;}
    25%{background-color: green;}
    75%{background-color: yellow;}
    100%{background-color: red;}
}
#anim18 {
    height: 20vh;
    width: 20vw;
    background-color: black;
    animation: animb 5s;
}
@keyframes luffy2{
    from{filter:opacity(100%);}
    to{filter: opacity(0%);}
}


#anim19{
    height: 20vh;
    width: 20vw;
    display: flex;
    animation: luffy2 5s;

}

@keyframes luffy3{
    from{ filter: blur(1);}
    to{filter: blur(0);}
}


#anim20 {
    height: 20vh;
    width: 20vw;
    display: flex;
    animation: luffy3 5s;
}

@keyframes luffy4{
    from{filter: sepia(0);}
    to{filter: sepia(1);}
}

#anim21{
    width: 20vw;
    height: 20vh;
    display: flex;
    animation: luffy4 5s;
}
@keyframes luffy5{
    from{background-color: orangered;float: left;}
    to{background-color: palevioletred;float: right;}
    
}

#anim22{
    width: 20vh;
    height: 20vw;
    animation: luffy5 5s alternate;
}
@keyframes luffy6{
    0%{background-color: red;}
    25%{background-color: green;}
    75%{background-color: yellow;}
    100%{background-color: lightblue;}
}

#anim23{
    height: 20vh;
    width: 20vw;
    animation: luffy6 5s;
}
#anim24{
    width: 100px;
    height: 100px;
    filter: drop-shadow(10px 10px 0px black);
    animation: luffy7 5s infinite alternate ;
    
}
@keyframes luffy7{
    from{filter: drop-shadow(10px 10px 0px black);}
    from{width: 100px; height: 100px;}
    to{filter: drop-shadow(10px 10px 10px yellow);}
    to{height: 200px; width: 200px;}
    
}
#anim25{
    width: 300px;
    height: 300px;
    animation: luffy8 5s infinite;
}
@keyframes luffy8{
    from{filter: blur(0px);}
    to{filter: blur(20px);}
}
#anim26{
    width: 200px;
    height: 200px;
    filter: drop-shadow(20px 10px 20px green);
    animation: luffy9 10s infinite;
}

@keyframes luffy9{
    from{filter: drop-shadow(20px 10px 20px green);}
    from{filter: blur(0px);}
    to{filter: drop-shadow(20px 10px 20px red);width: 250px;height: 250px;}
    to{filter: blur(3px);}    
}
#anim27{
    width: 30px;
    height: 30px;
    background-color: black;
    animation: luffy10 5s;
}
@keyframes luffy10{
    from{width: 30px;}
    to{width: 100px;}
}
#anim28{
    width: 10px;
    height: 30px;
    background-color: blue;
    animation: luffy11 5s;
}
@keyframes luffy11{
    0%{width: 10px;}
    25%{width: 70px;}
    75%{width: 30px;}
    100%{width: 200px;}
}
 #anim29{
     width: 100px;
     height: 100px;
     display: flex;
     animation: luffy12 5s;
 }
 @keyframes luffy12{
     from{filter: brightness(0%);}
     to{filter: brightness(100%);}
 }
 #anim30{
     width: 100px;
     height: 100px;
     display: flex;
     animation: luffy13 5s;
 }
 @keyframes luffy13{
     from{width: 100px;height: 100px;}
     to{width: 200px;height: 200px;}
 }
 #anim31{
     width: 100px;
     height: 100px;
     display: flex;
     animation: luffy14 5s;
 }
 @keyframes luffy14{
     from{filter: blur(30px);filter: grayscale(100%);}
     to{filter: blur(0px);filter: grayscale(0%);}
 }
 #anim32{
     width: 100px;
     height: 100px;
     display: flex;
     position: relative;
     background-color: blueviolet;
     animation: luffy15 5s;
 }
@keyframes luffy15{
    0%{width: 200px; height: 200px; right: 200px}
    25% {width: 100px; height: 100px;right: 0px;}
    50%{width: 200px;height: 200px;right: 200px;}
    100%{width: 100px;height: 100px;right: 0px;}

}
#anim33{
    width: 200px;
    height: 200px;
    border: 2px black;
    background-color: black;
    position: relative;
    border-radius: 100%;
    animation: luffy16 5s;
}
@keyframes luffy16{
    0%{width: 200px;height: 200px;}
    25%{width: 100px;height: 100px;top: 200px;}
    50%{width: 200px;height: 200px;top: 0px;}
    75%{width: 100px;height: 100px;top: 200px;}
    100%{width: 200px;height: 200px;top: 0px;}

}






